# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Datasets
data/raw/
data/placeholder/
*.wav
*.mpeg

# Environment variables / API keys
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.dbdata/primock57/*.parquet
